Source: bcmasicd
Section: main
Priority: extra
Maintainer: Pawel Maslanka <pawmas@hotmail.com>
Build-Depends: debhelper (>= 12.0.0), bzip2
Standards-Version: 6.5.21

Package: bcmasicd
Architecture: amd64
Section: main
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends}
Description: Broadcom ASIC Daemon
